@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,100..1000&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}
body{
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}
.container{
  position: relative;
  background-image:url("./bg.png");
  background-size: cover;
  padding:25px;
  border-radius:28px;
  max-width: 380px;
  width:100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header,
.logo{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.logo img{
  width: 48px;
  margin-right:10px;
}
h5{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
h6{
  color:#fff;
  font-size: 10px;
  font-weight: 400;
}
h5.number{
  margin-top: 4px;
  font-size:18px;
  letter-spacing: 1px;
}
h5.name{
  margin-top:20px;
}
header .chip{
  width:60px;
}
.container .card-details{
  margin-top:40px;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;

}


